@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.body{
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
}
.first-sec{
    background: #161616;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:24px;
}


.image{
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}

.title-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-left: 106px;
    margin-top: 111px;
    justify-content: center;
}

.title-paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 106px;
    margin-top: 20px;
}

/* watch button */
.watch-button{
    background: #DD0000;
    border: 0;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    margin-left: 106px;
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

}

/* section two */

/* left side */
.sidebar {
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: inline-grid;
    padding: 30px;
    justify-content: center;
    
}

.upcoming-button{
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    width: 252px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.group-button{
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    width: 252px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.blog-button{
    background-color: #DD0000;
    border-radius: 10px;
    border: 0;
    width: 252px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}


/* right column */
.blog{
    margin-top: 130px;
    display: flex;
    background-color: #FFFFFF;
}
.right-blog-items{
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
}

.box{
    background-color: #FFFFFF;
    border: 1px;
    border-radius: 10px;
}

.blog-text{
    display: grid;
    margin-left: 20px;
}

.box-text{
    width: 100px;
    height: 32px;
    border: 1px;
    border-radius: 5px;
    justify-content: center;
    
}

.transfer{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 2px #242424;
}
.box-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    height: 54px;
    width: 272px;
}

.time-chat{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



/* footer start */

.goal{
    margin-top: 130px;
    display: grid;
    background: #161616;
    color: #FFFFFF;
    justify-content: center;
}

.f-title{
    margin-top: 130px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    justify-content: center;
    display: flex;
}

.f-border{
    border: 1px solid rgba(255, 255, 255, 0.1);s
}
.footer-items{
    display: flex;
    column-gap: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #B9B9B9;
    margin-top: 50px;
    margin-bottom: 130px;
}
/* responsive for tab */
@media only screen and (max-width:834px) {
        .blog{
            display: grid;
        }
        .sidebar{
            background: #ffffff;
            border-radius: 10px;
            width: 312px;
            height: 312px;
            display: flex;
            padding: 30px;
            justify-content: center;
        }

    .right-blog-items{

    }
}

/* responsive phone media query */
@media only screen and (max-width:578px) {

    .container{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
}

section {
    display: block;
}
.first-sec{
    background: #161616;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    display: block;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap:24px;
}


.image{
    width: 233px;
    height: 245px;
    
}

.title-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-left: 106px;
    margin-top: 111px;
    justify-content: center;
}

.title-paragraph{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 106px;
    margin-top: 20px;
}

/* watch button */
.watch-button{
    background: #DD0000;
    border: 0;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    margin-left: 106px;
    margin-top: 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

}
    
}